*.DS_Store
*AppKit*
*Objective-J*
*Foundation*
*.xCodeSupport*
*lib/Build/*
*webapp/app.html
*webapp/index.html
*webapp/Browser.environment/*
*webapp/CommonJS.environment/*
*webapp/Frameworks/*
*webapp/Info.plist
*webapp/Application.js
*webapp/Resources/*
*.sublime-workspace
*target
/.classpath
/.project
*.xcodeproj*
